ul {
  list-style-type: none;
}

.navbar {
  position: absolute; /* Or absolute if desired */
  top: 0;
  left: 0;
  bottom: 100;
  width: 100%; /* Full width of the viewport */
  background-color: #242424; /* Example background color */
  color: white;
  padding: 1rem; /* Optional, for inner spacing */
  margin: 0; /* Remove any default margin */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont;
  font-size: 22px;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.nav-link:hover {
  color: #bababa;
  cursor: pointer;
}

.nav-link-button {
  color: white;
  text-decoration: none;
}

.nav-link-button:hover {
  color: rgb(186, 186, 186);
}

.nav-link-button:active {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}
