.title {
  color: black;
  font-size: 50px;
}

button {
  font-size: 25px;
  font-weight: bold;
  background-color: #242424;
  color: white;
}

button:hover {
  color: rgb(186, 185, 185);
}

.apple-icon {
  transition: color 0.3s ease;
}

.apple-icon:hover {
  transform: scale(1.01);
}
