div.content {
  margin-bottom: 50px;
}

div.home-top-component {
  width: 100%;
  top: 0;
  height: 30em;
  padding-top: 120px;
  padding-bottom: 30px;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgb(171, 214, 252) 0%,
    rgb(102, 130, 162) 13%,
    rgb(58, 67, 95) 100%
  );
}

div.home-top-component-signedin {
  width: 100%;
  top: 0;
  height: 35em;
  padding-top: 120px;
  padding-bottom: 30px;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgb(171, 214, 252) 0%,
    rgb(102, 130, 162) 13%,
    rgb(58, 67, 95) 100%
  );
}

body h1.title {
  position: absolute;
  left: 18rem;
  top: 17rem;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 30;
  text-shadow: -0.05px 0.05px 5px rgb(0, 0, 0);
}

img.home-top-image {
  position: absolute;
  right: 15rem;
  width: 1000px;
  height: auto;
}

div.login-component {
  padding-top: 390px;
}

.login-signup-buttons {
  font-size: 25px;
  font-weight: bold;
  background-color: #242424;
  color: rgb(255, 255, 255);
  transition: background-color 0.15s ease;
  border-radius: 50px;
  border: 2px solid rgb(0, 0, 0);
  width: 200px;
}

.login-signup-buttons:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(1, 1, 1);
}

div.login-component {
}

body h1.login-signup-h1 {
  font-size: 40px;
}

.order-button {
  font-size: 25px;
  font-weight: bold;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: background-color 0.2s ease;
  border-radius: 50px;
  border: 2px solid white;
  width: 200px;
  position: absolute; /* Position it absolutely within its parent */
  bottom: 30px; /* 30px from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for perfect centering */
}

.order-button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 2px solid white;
}

.signinbutton {
  margin-right: 20;
}

.forms {
  margin-right: 15px;
}

div.flips {
  display: flex;
}
