div.box {
  display: flex;
  gap: 0;
  margin-top: 30px;
}

.cl-signIn-start {
  /*border-radius: 1rem 0 0 1rem;*/
}

/*for signup page*/
.cl-signUp-start {
  /*border-radius: 1rem 0 0 1rem;*/
}

.cl-card {
  /*border-radius: 1rem 0 1rem 1rem;*/
}

div.login-info {
  color: rgb(255, 255, 255);
  width: 400px;
  height: 1;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 0px 1rem 1rem 0px;
  padding: 45px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px 0px,
    rgba(25, 28, 33, 0.2) 0px 15px 35px -5px,
    rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  background-image: url("https://mfiles.alphacoders.com/967/967258.jpg");
}

h1.login-info-title {
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}
