/* Slide-in animation */
@keyframes slideIn {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

/* Slide-out animation */
@keyframes slideOut {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}

/* Styling the pricing banner */
.pricing-banner {
  position: fixed;
  bottom: 40px;
  left: 0;
  padding: 20px;
  width: 100%; /* Ensure it spans the full width of the screen */
  background-color: #ffffff;
  box-shadow: 0px -12px 8px rgb(225, 225, 225);
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  opacity: 0;
  transform: translateY(-100%); /* Initially hidden above the screen */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

/* Applied when banner is visible */
.pricing-banner.visible {
  opacity: 1;
  transform: translateY(0); /* Slide in */
  animation: slideIn 0.5s ease-out forwards; /* Trigger slide-in animation */
}

/* Applied when banner is hidden */
.pricing-banner.hidden {
  animation: slideOut 0.5s ease-out forwards; /* Trigger slide-out animation */
}

body {
  margin-bottom: 100px;
}
